# Object files
*.o

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# ^^^^ Copied from the default (trimmed a bit)
# vvvv My stuff

# The binary
bp

# test target binaries
penum
pmath

# Other bad stuff
core
*~
